<head>
<meta charset="utf-8">
<title>
Songyan Yu's Personal Website  
</title>
<meta name="description" content="Songyan Yu's website">
<meta name="author" content="Songyan Yu">

<!-- Mobile Specific Metas
-------------------------------- -->
<meta name="viewport" width="device-width, initial-scale=1.0">

<!-- FONT
-------------------------------- -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400" rel="stylesheet">

<!-- CSS
-------------------------------- -->
<link rel="stylesheet" href="/assets/css/framework.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.css">

</head>


