@import url(http://fonts.googleapis.com/css?family=Montserrat);

.current {
   color: green;
}

a.button{
    color:white;
    background-color: #99CCFF;
    width:auto;
    padding:0em 0.4em;
    display: inline-block;
    text-decoration: none;
    border-style: none;
    text-align: center;
    border-radius:0.3rem;
}

.header, .footer, .header h3 { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }

h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #0088cc; }

.cv {line-height: 23px; width: 90%; margin: auto auto;}
.cv li { line-height: 23px; }
.cv h2 { font-size: 26.5px; }
.cv h1 { font-size: 32.5px; }

.research { width: 90%; margin: auto auto; line-height: 23px; }

.research, .cv, { margin-bottom: 30px; }
